body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.product-image {
    max-height: 400px;
    margin: 50px 0;
}

.button-area {
    position: fixed;
    bottom: 30px;
    left: 30px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
}

