
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>商品選択</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/' + image) }}" class="product-image">
        <form method="POST" class="button-area {{ position }}">
            <input type="hidden" name="image" value="{{ image }}">
            <input type="hidden" name="position" value="{{ position }}">
            <button name="choice" value="buy">購入する</button>
            <button name="choice" value="not_buy">購入しない</button>
        </form>
    </div>
</body>
</html>
